<!DOCTYPE html>
<html>
	<head>
		<title>Chatroom</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../static/chatroom.css">
	</head>
	<body id="body">
		<div id="header-rectangle">
			<span style="font-size:50px;color:white;">Chatroom</span>
		</div>
		<div id="table-container">
            <table id="customers">
              <tr>
                <th>Chatroom</th>
                <th>Serveur</th>
              </tr>
              <tr>
                <td>chat 1</td>
                <td>http://127.0.0.1.2535</td>
              </tr>
              <tr>
                <td>chat 2</td>
                <td>http://127.0.0.1.8431</td>
              </tr>
                <td>...</td>
                <td>...</td>
              </tr>
            </table>

        </div>
	</body>

</html>