<!DOCTYPE html>
<html>
	<head>
		<title>ChatInterface</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../static/home.css">
	</head>
	<body id="body">
		<div id="header-rectangle">
			<span style="font-size:50px;color:white;">Chat Interface</span>
		</div>
		<a href="UserList.html">
			<div class="center" id="rectangle-left">
				<span class="center">User list</span>
				<div id="user-list-detail">Accedez à tous les utilisateurs avec qui vous êtes en contact </div>
			</div>
		</a>
		<a href="Chatroom.html">
			<div class="center" id="rectangle-right">
				<span class="center">Chatroom</span>
				<div id="chatroom-detail">Accedez à toutes les chatroom sur lesquelles vous avez une discution en cours</div>
			</div>
		</a>
	</body>

</html>