<html>
	<head>
		<title>ChatInterface</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../static/userlist.css">
	</head>
	<body id="body">
		<div id="header-rectangle">
			<span style="font-size:50px;color:white;">User List</span>
		</div>
		<div id="table-container">
            <table id="user">
              <tr>
                <th>Nom</th>
                <th>Email</th>
              </tr>
              <tr>
                <td>Ellie Williams</td>
                <td>ellie.williams@exemple.com</td>
              </tr>
              <tr>
                <td>Joel Miller</td>
                <td>joel.miller@exemple.com</td>
              </tr>
              <tr>
                <td>Tommy Miller</td>
                <td>tommy.miller@exemple.com</td>
              </tr>
              <tr>
                <td>...</td>
                <td>...</td>
              </tr>
            </table>

        </div>
	</body>

</html>
